@using System.Globalization
@model JavaGeneration.Chirper.ViewModels.TimeLineData 

@{
    ViewBag.Title = Html.Encode(ViewData["Title"]);
}

@* @if (!Model.IsPublic && !Model.ShowIndividualChrip) *@

@if (Model.IsSummaryVisible)
{
    <div class="well">
        Chirps: @if (Model.ChirpsCount.HasValue)
                {
                    @Model.ChirpsCount.Value
                }
                else
                {
                    @: unknown
                },
        Followers: @Html.ActionLink(Model.FollowersCount.ToString(CultureInfo.InvariantCulture), "Followers", "Home")
        Following: @Html.ActionLink(Model.FollowersCount.ToString(CultureInfo.InvariantCulture), "Following", "Home")
    </div>   
}


@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Tweet", "Home"))
    {
        <p>
            <label for="text">What's happening?</label><br />
            @Html.TextArea("text", string.Empty, 3, 50, new { @class = "tweet-post" })
        </p>
        <p>
            <input id="tweet" type="submit" value="Chirp" class="btn btn-primary" />
        </p>
    }
} 

<div class="page-header">
<h2>@ViewBag.Title</h2>
</div>
<table>
    <tr>
        <th>User</th>
        <th>Text</th>
        <th>Location</th>
        <th>Time</th>
        <th>Relative Time</th>
        <th>In Reply To</th>
    </tr>
    @foreach (var item in Model.Chirps)
    {
        <tr>
            <td>@Html.ActionLink(item.User, "UserLine", new { id = item.User })</td>
            <td>@item.Text</td>
            <td>@Html.Encode(item.Location)</td>
            <td>@Html.Encode(string.Format("{0:g}", item.Time))</td>
            <td>@item.RelativeTime</td>
            @if (!string.IsNullOrEmpty(item.InReplyToUser) && string.IsNullOrEmpty(item.InReplyToTweet))
            {
                <td>@Html.ActionLink(item.InReplyToUser, "Tweet", new { tweet = item.Id })</td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
</table>
